@import "mixins";

@include respond-to(phone, tablet) {
    .skype-portlet {
        div.groups-list {
            padding: 0.5em 10px;
            .group-label {
                width: 55%;
                display: inline-block;
            }
            ul > li.editing  {
                .group-options.show,  
                .group-options {
                    display: none !important;
                }
            }
        }
        h3.skype-group-name,
        h3.skype-group-name:hover {
            .icon-pencil {
                display: inline-block;
            }
        }
        // .form-search {
        //     button {
        //         display: inline-block;
        //     }
        // }
    }
}
@include respond-to(phone) {
    .skype-portlet {
        .skype-form-search {
            .search-btn-label {
                display: none;
            }
            .icon-search {
                display: inline-block;
            }
        }
        .skype-users-to-call ul.users li {
            width: 90%;
            padding: 5px 5%;
            div {
                text-align: center;
            }
            .handle {
            	float: right;
            }
        }
        
        .pagination {
            li {
                display: none;
                a {
                    padding: 10px 5px;
                }
            }
            li.first-pagination-control,
            li.last-pagination-control,
            li.pagination-control,
            li.active {
                display: inline;
            }
        }
    }
}

@include media-query(null, $screen-xs-max) {
    .skype-portlet .btn-toolbar {
        button {
            padding: 8px 12px;
        }
    }
}

@include respond-to(phone) {
    table.skype-users {
        thead {
            display: none;
        }
        tbody, tr, td {
            display: block !important;
            height: auto !important;
            width: 100% !important;
        }
        td {
            border: none !important;
            box-shadow: none !important;
            padding: 8px !important;
        }
        tr:nth-child(odd) {
            td {
                background: rgba(84, 84, 84, 0.04);
            }
        }
        .skype-btn-cell,
        .phone-btn-cell {
            padding: 0;
        }
    }
}