@import "mixins";

@include respond-to(phone, tablet) {
    .aui .skype-portlet {
        div.groups-list {
            padding: 0.5em 10px;
            .group-label {
                width: 55%;
                display: inline-block;
            }
            ul > li.editing  {
                .group-options.show,  
                .group-options {
                    display: none !important;
                }
            }
        }
        h3.skype-group-name,
        h3.skype-group-name:hover {
            .icon-pencil {
                display: inline-block;
            }
        }
        .form-search {
            button {
                display: inline-block;
            }
        }
    }
}
@include respond-to(phone) {
    .aui .skype-portlet {
        .form-search {
            input {
                width: 90%;
                padding: 5px 5%;
                margin: 0;
            }
        }
        .skype-users-to-call ul.users li {
            width: 90%;
            padding: 5px 5%;
            div {
                text-align: center;
            }
            .handle {
            	float: right;
            }
        }
    }
}